svg {
  width: 100%; }

h1 {
  margin-top: 1em;
  margin-left: 1em;
  color: #732C2C;
  text-shadow: 0 1px 0 black; }

select, label {
  opacity: 0.5; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #BFA98E; }

.ui {
  background-color: #732C2C;
  color: white;
  padding: 1em;
  box-shadow: 0 2px 2px gray; }
  @media print {
    .ui {
      display: none; } }

footer {
  background-color: #732C2C;
  color: white;
  padding: 1em;
  box-shadow: 0 -2px 2px gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-transform: uppercase; }
  @media print {
    footer {
      display: none; } }

.fingers circle {
  fill: white;
  display: none; }
  @media screen {
    .fingers circle {
      filter: url(#finger); } }
  @media print {
    .fingers circle {
      stroke: black; } }
  .fingers circle.root {
    fill: #983a3a; }

.labels text {
  fill: black;
  font-family: sans-serif;
  font-size: 8px; }

rect.neck {
  stroke: white;
  stroke-width: 1; }
  @media screen {
    rect.neck {
      fill: url(#gradient);
      filter: url(#f1); } }
  @media print {
    rect.neck {
      fill: white; } }

@media screen {
  .strings line {
    filter: url(#f1);
    stroke: #aba3a1; } }
@media print {
  .strings line {
    stroke: black; } }
.strings line:nth-child(n) {
  stroke-width: 0.8; }
.strings line:nth-child(2) {
  stroke-width: 0.8; }
.strings line:nth-child(3) {
  stroke-width: 1; }
.strings line:nth-child(4) {
  stroke-width: 1.5; }
.strings line:nth-child(5) {
  stroke-width: 1.8; }
.strings line:nth-child(6) {
  stroke-width: 2; }

@media screen {
  .frets line {
    stroke: #EEEEEE;
    filter: url(#fret); } }
@media print {
  .frets line {
    stroke: black; } }
.frets line.zero {
  stroke-width: 6; }
  @media screen {
    .frets line.zero {
      stroke: #DDDDDD; } }
.frets text {
  fill: #732C2C;
  font-family: sans-serif;
  font-size: 8px; }

.marks rect {
  stroke: transparent; }
  @media screen {
    .marks rect {
      fill: rgba(214, 215, 207, 0.5); } }
  @media print {
    .marks rect {
      fill: #EEEEEE; } }
