@import "variables";

#scale-box {
    .interval {
        fill: rgba(0,0,0,0.3);
        font-size: 8px;
    }
    .root {
        fill: @colorBase;
    }
    polyline, line {
        stroke: rgb(173, 173, 173);
        fill: transparent;
    }
    text {
        tspan {
            font-size: 8px;
        }
        // cursor: pointer;
        // &.highlighted {
        //     fill: green;
        // }
    }
}
