@import "variables";

select {
	padding: 6px;
	outline: none;
	font-size: 1.3rem;
	border-radius: 8px;
	font-family: "Ubuntu", sans-serif;
	background-color:#bfa98e;
	color: @colorBase;	
	cursor: pointer;
	border: 0;
	box-shadow: inset 0 0 4px black;
	font-size: 1rem;
	optgroup {
		background-color: @colorBase;
		color: white;
	}
	option {
		color: @colorBase;
		background-color: white;
		text-shadow: none;
	}
	&:hover {
		opacity: 1;
	}
	&:focus {
		box-shadow: inset 0 0 4px black, 0 0 4px black;
	}
}
