circle {
        stroke: #006600;
        fill: white;
    }
    rect {
        fill: transparent;
        stroke: black;
        stroke-width: 2;
    }
    .strings line {
        stroke: red;
    }
    .frets line {
        stroke: gray;
    }
    svg {
        width: 100%;
    }
    .marks rect {
    	fill: #EFEFEF;
    	stroke: transparent;
    }