@import url(//fonts.googleapis.com/css?family=Ubuntu:500);

$red: #732c2c;

#info {
    @media screen {
        position: absolute;
        background-color: rgba(#ffffca, 0.5);
        padding: 0.5em;
        font-size: 12px;
        text-align: center;
        width: 100%;
        color: darken(#ffffca, 60%);
    }
    @media print {
        display: none;
    }
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
    .fullscreen & {
        opacity: 0.8;
    }
}

svg {
    width: 100%;
    opacity: 1;
    transition: opacity 2s;
    &.loading {
        opacity: 0;
    }
}

h1 {
    margin-top: 1em;
    margin-left: 1em;
    color: $red;
    text-shadow: 0 1px 0 black;
    &.title {
        @media screen {
            display: none;
        }
    }
}

.separator {
    @media screen {
        margin-bottom: 40px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #BFA98E;
    background: linear-gradient(lighten(#bfa98e, 30%), #bfa98e);
    @media screen {
        height: 100vh;
        overflow: hidden;
    }
}

footer,
header {
    background-color: $red;
    color: white;
    padding: 1em;
    @media print {
        display: none;
        visibility: hidden;
    }
    position: absolute;
    width: 98%;
    box-shadow: 0 0px 20px rgba(black, 0.8), inset 0 0 50px rgba(black, 0.5);
    transition: transform 2s;
    transition-delay: 0.5s;
}

header {
    padding: 0.5em;
    position: static;
    border-bottom: 2px solid white;
    h1 {
        color: white;
        display: inline-block;
        position: relative;
        top: -17px;
        margin: 0;
        margin-left: 1em;
        text-transform: uppercase;
        opacity: 0.8;
        font-size: 1em;
        @media screen and (max-width: 650px) {
            display: block;
            font-size: 15px;
        }
        transform: translate3d(0, 0, 0);
    }
    &.loading,
    .fullscreen & {
        transform: translate3d(0, -100px, 0);
    }
}

footer {
    padding-top: 3px;
    padding-bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-bottom: 1em;
    transform: translate3d(0, 0, 0);
    bottom: 0;
    border-top: 2px solid white;
    position: fixed;
    select, input {
        padding: 6px;
        outline: none;
        font-size: 1.3em;
        border-radius: 8px;
        font-family: 'Ubuntu', sans-serif;
        background-color: #444444;
        color: #DDDDDD;
        &:hover {
            opacity: 1;
        }
        border: 0;
        box-shadow: inset 0 0 4px black;
        text-shadow: 0 1px 3px rgba(black, 0.8);
        &:focus {
            color: white;
            box-shadow: inset 0 0 4px black, 0px 0px 4px black;
        }
    }
    select {
        optgroup {
            background-color: $red;
            color: white;
        }
        option {
            color: $red;
            background-color: white;
            text-shadow: none;
        }
        cursor: pointer;
    }
    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #444444;
        height: 37px;
        width: 37px;
        margin: 0;
        position: relative;
        &:before {
            font-size: 1.5em;
            transition: opacity 0.8s;
            top: 1px;
            left: 5px;
            position: absolute;
            text-shadow: 0 1px 3px rgba(black, 0.8);
            color: white;
            opacity: 0;
            content: '\2713';
        }
        &:checked:before {
            opacity: 1;
        }
    }
    input[type="number"] {
        width: 2em;
    }
    label {
        margin-right: 1em;
        div {
            transition: opacity 2s;
            opacity: 0.1;
            font-size: 11px;
            margin-bottom: 2px;
        }
        &:hover {
            div {
                opacity: 1;
            }
        }
    }
    & > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        &:last-child {
            padding-top: 7px;
        }
    }
    &.loading,
    .fullscreen & {
        transform: translate3d(0, 150px, 0);
    }
    #fullscreen,
    #print {
        span {
            opacity: 0.5;
            transition: opacity 0.8s;
            background-image: url("fullscreen-icon.svg");
            height: 25px;
            width: 25px;
            color: white;
            display: inline-block;
            cursor: pointer;
            &:hover,
            &:focus {
                outline: none;
                opacity: 1;
            }
        }
    }
    #fullscreen {
        margin-right: 0;
        span {
            background-image: url("fullscreen-icon.svg");
        }
    }
    #print {
        span {
            background-image: url("printer-icon.svg");
        }
    }
}