@import url(//fonts.googleapis.com/css?family=Ubuntu:500);

svg {
    width: 100%;
    opacity: 1;
    transition: opacity 2s;
    &.loading {
        opacity: 0;
    }
}

h1 {
    margin-top: 1em;
    margin-left: 1em;
    color: #732C2C;
    text-shadow: 0 1px 0 black;
    &.title {
        @media screen {
            display: none;
        }
    }
}

.separator {
    @media screen {
        margin-bottom: 40px;
    }
}

html {
    @media screen {
        height: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #BFA98E;
    background: url(bg.svg), linear-gradient(lighten(#bfa98e, 20%), #bfa98e);
    @media screen {
        //min-height: 95%;
        overflow: hidden;
    }
}

footer, header {
    background-color: #732C2C;
    color: white;
    padding: 1em;
    @media print {
        display: none;
    }
    position: absolute;
    width: 98%;
    box-shadow: 0 0px 20px rgba(black, 0.8), inset 0 0 50px rgba(black, 0.5);
}

header {
    position: static;
    border-bottom: solid;
    border-bottom: 2px solid white;
    transition: transform 2s;
    transition-delay: 0.5s;
    h1 {
        color: white;
        display: inline-block;
        position: relative;
        top: -17px;
        margin: 0;
        margin-left: 1em;
        text-transform: uppercase;
        opacity: 0.8;
        @media screen and (max-width: 650px) {
            display: block;
            font-size: 15px;
        }
        transform: translate3d(0,0,0);
    }
    &.loading {
        //top: -100px;
        transform: translate3d(0,-100px,0);
    }
}

footer {
    padding-top: 6px;
    select {
        optgroup {
            background-color: #732C2C;
            color: white;
        }
        option {
            color: #732C2C;
            background-color: white;
        }
    }

    select, input,  input {
        outline: none;
        font-size: 1.5em;
        border-radius: 8px;
        font-family: 'Ubuntu', sans-serif;
    }
    select,  input {
        &:hover {
            opacity: 1;
        }
    }
    label {
        opacity: 0.4;
        margin-left: 1em;
        display: inline-block;
        transition: transform 1s;
        div {
            font-size: 11px;
            margin-bottom: 2px;
        }
        &:hover {
            opacity: 1;
        }
    }
    input[type="checkbox"] {
        -webkit-transform: scale(2.6);
        margin-top: 12px;
        position: relative;
        top: 0px;
        left: 9px;
        &:checked {
            opacity: 1;
        }
    }
    input[type="number"] {
        width: 2em;
    }
    transform: translate3d(0,0,0);
    bottom: 0;
    border-top: 2px solid white;
    transition: transform 2s;
    transition-delay: 0.5s;
    &.loading {
        transform: translate3d(0,100px,0);
    }
}