@import url(//fonts.googleapis.com/css?family=Ubuntu:500);

svg {
    width: 100%;
    opacity: 1;
    transition: opacity 2s;
    &.loading {
        opacity: 0;
    }
}

h1 {
    margin-top: 1em;
    margin-left: 1em;
    color: #732C2C;
    text-shadow: 0 1px 0 black;
    &.title {
        @media screen {
            display: none;
        }
    }
}

.separator {
    @media screen {
        margin-bottom: 140px;
    }
}

html {
    @media screen {
        height: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #BFA98E;
    background: linear-gradient(lighten(#bfa98e, 20%), #bfa98e);
    @media screen {
        min-height: 100%;
    }
}

footer, header {
    background-color: #732C2C;
    color: white;
    padding: 1em;
    @media print {
        display: none;
    }
    position: absolute;
    width: 98%;
    box-shadow: 0 0px 20px rgba(black, 0.8), inset 0 0 50px rgba(black, 0.5);
}

header {
    position: static;
    border-bottom: solid;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    transition: top 2s;
    transition-delay: 0.5s;
    h1 {
        color: white;
        display: inline-block;
        position: relative;
        top: -17px;
        margin: 0;
        margin-left: 1em;
        text-transform: uppercase;
        opacity: 0.8;
    }
    &.loading {
        top: -100px;
    }
}

footer {
    padding-top: 6px;
    select,label ,input {
        opacity: 0.4;
    }
    select, input,  input, option {
        outline: none;
        font-size: 1.5em;
        border-radius: 8px;
        font-family: 'Ubuntu', sans-serif;
        transition: opacity 1s;
    }
    select,  input {
        &:hover {
            opacity: 1;
        }
    }
    label {
        margin-left: 1em;
        display: inline-block;
        div {
            font-size: 11px;
            margin-bottom: 2px;
            opacity: 0.2;
            transition: opacity 1s;
        }
        &:hover {
            div {
                opacity: 1;
            }
            opacity: 1;
        }
    }
    input[type="checkbox"] {
        -webkit-transform: scale(2.6);
        margin-top: 12px;
        position: relative;
        top: 0px;
        left: 9px;
        &:checked {
            opacity: 1;
        }
    }
    input[type="number"] {
        width: 2em;
    }
    bottom: 0;
    border-top: 2px solid white;
    transition: bottom 2s;
    transition-delay: 0.5s;
    &.loading {
        bottom: -100px;
    }
}

::-webkit-selection,
::selection {
    color: white;
    background: #BFA98E;
}