#neck {
    .fingers {
        circle {
            fill: white;
            @media print {
                stroke: black;
            }
            display: none;
            &.root {
                fill: lighten(#732c2c, 40%);
            }
            &.highlighted {
                fill: #84FFA4;
            }
        }
    }
    .labels {
        text {
            fill: black;
            font-family: 'Ubuntu', sans-serif;
            font-size: 7px;
            display: none;
        }
        opacity: 0;
        tspan {
            font-size: 5px;
        }
    }
    .shading {
        @media print {
            display: none;
        }
    }
    rect.neck {
        @media print {
            fill: white;
        }
        stroke: white;
        stroke-width: 1;
    }
    .strings {
        line {
            @media screen {
                stroke: #aba3a1;
            }
            @media print {
                stroke: black;
            }
        }
        line:nth-child(n) {
            stroke-width: 0.8;
        }
        line:nth-child(2) {
            stroke-width: 0.8;
        }
        line:nth-child(3) {
            stroke-width: 1;
        }
        line:nth-child(4) {
            stroke-width: 1.5;
        }
        line:nth-child(5) {
            stroke-width: 1.8;
        }
        line:nth-child(6) {
            stroke-width: 2;
        }
        line:nth-child(7) {
            stroke-width: 2.4;
        }
    }
    .frets {
        line {
            @media screen {
                stroke: #ffffcc;
            }
            @media print {
                stroke: black;
            }
            &.zero {
                @media screen {
                    stroke: #DDDDDD;
                }
                stroke-width: 6;
            }
        }
        text {
            fill: #555F73;
            font-family: 'Ubuntu', sans-serif;
            font-size: 6px;
        }
    }
    .marks {
        @media screen {
            fill: rgba(#d6d7cf, 0.5);
        }
        @media print {
            fill: #EEEEEE;
        }
        stroke: transparent;
    }
    &.fender {
        
        .marks {
            @media screen {
                fill: #1d1912;
            }
            stroke: transparent;
        }
        .shading {
            opacity: 0.3;
        }
        .frets {
            line {
                stroke: white;
                &.zero {
                    @media screen {
                        stroke: white;
                    }
                    stroke-width: 6;
                }
            }
        }
    }
}