.fingers {
    circle {
        fill: white;
        @media print {
            stroke: black;
        }
        display: none;
        &.root {
            fill: lighten(#732c2c, 40%);
        }
    }
}

.labels {
    text {
        fill: black;
        font-family: 'Ubuntu', sans-serif;
        font-size: 7px;
        display: none;
    }
    opacity: 0;
}

.shading {
    @media print {
        display: none;
    }
}

rect.neck {
    @media print {
        fill: white;
    }
    stroke: white;
    stroke-width: 1;
}

.strings {
    line {
        @media screen {
            stroke: #aba3a1;
        }
        @media print {
            stroke: black;
        }
    }
    line:nth-child(n) {
        stroke-width: 0.8;
    }
    line:nth-child(2) {
        stroke-width: 0.8;
    }
    line:nth-child(3) {
        stroke-width: 1;
    }
    line:nth-child(4) {
        stroke-width: 1.5;
    }
    line:nth-child(5) {
        stroke-width: 1.8;
    }
    line:nth-child(6) {
        stroke-width: 2;
    }
}

.frets {
    line {
        @media screen {
            stroke: #ffffcc;
        }
        @media print {
            stroke: black;
        }
        &.zero {
            @media screen {
                stroke: #DDDDDD;
            }
            stroke-width: 6;
        }
    }
    text {
        fill: #555F73;
        font-family: 'Ubuntu', sans-serif;
        font-size: 6px;
    }
}

.marks rect {
    @media screen {
        fill: rgba(#d6d7cf, 0.5);
    }
    @media print {
        fill: #EEEEEE;
    }
    stroke: transparent;
}

#scale-box {
    .interval {
        fill: gray;
        font-size: 8px;
    }
    .root {
        fill: #732c2c;
    }
    polyline, line {
        stroke: gray;
        fill: transparent;
    }
}