@import url(//fonts.googleapis.com/css?family=Ubuntu:500);


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
    width: 100dvw;
    background-color: var(--color-secondary);
    display: grid;
    gap: 2rem;
    grid-template-areas: "header"
        "main"
        "footer";
    grid-template-rows: fit-content(20%) auto fit-content(10%);
    scroll-behavior: auto;

    /* media queries must be outside the body selector in CSS */

    @media print {
        body {
            background: white;
            grid-template-rows: fit-content(20%) 320px fit-content(20%);
        }
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: var(--colorDark);
            background: linear-gradient(#333, black);
        }
    }

    @media screen {
        body {
            height: 100vh;
            overflow: hidden;
        }
    }

    h1 {
        margin-top: 1rem;
    }

    #version-info {
        display: none;
        text-transform: none;
    }

    @media screen {
        h1 {
            visibility: hidden;
            display: none;
            margin-left: 4.5rem;
            margin-bottom: 0.5em;
            color: var(--colorBase);
            margin-top: 40px;
        }
    }

    svg#board {
        grid-area: main;
        margin-left: 1rem;
        align-self: center;
        justify-self: center;
    }

    svg#box {
        grid-area: footer;
    }