@import url(//fonts.googleapis.com/css?family=Ubuntu:500);



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
    width: 100vw;
    background-color: var(--color-secondary);
    display: grid;

    grid-template-areas: "header"
        "main"
        "footer";
    grid-template-rows: fit-content(10%) auto fit-content(10%);
    scroll-behavior: auto;
    overflow: hidden;
    transition: grid-template-rows 1.5s ease-in-out;


    &.ui-hidden {
        grid-template-rows: 0 auto 0;
    }

    @media print {
        body {
            background: white;
            grid-template-rows: fit-content(20%) 320px fit-content(20%);
        }
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: var(--colorDark);
            background: linear-gradient(#333, black);
        }
    }

    @media screen {
        body {
            height: 100vh;
            overflow: hidden;
        }
    }

    h1 {
        margin-top: 1rem;
    }

    #version-info {
        display: none;
        text-transform: none;
    }

    @media screen {
        h1 {
            visibility: hidden;
            display: none;
            margin-left: 4.5rem;
            margin-bottom: 0.5em;
            color: var(--colorBase);
            margin-top: 40px;
        }
    }

    svg#board {
        grid-area: main;
        align-self: center;
        justify-self: center;
    }

    svg#box {
        grid-area: footer;
    }

    #main-container {
        grid-area: main;
        padding-left: 1rem;
        padding-top: 1rem;
        overflow: auto;

        h2 {
            color: var(--color-base);
            padding: 0;
            margin: 0;
            text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.4), 0 0 5px rgba(0, 0, 0, 0.3);
        }

    }

    #mode-all-container {
        display: flex;
        align-items: center;
        cursor: pointer;


        margin-top: 1rem;

        #mode-all {
            height: 1rem;
            width: 1rem;
            accent-color: var(--color-base);
        }
    }

}

label:has(input:disabled) {
    &:hover {
        box-shadow: none;
    }

    &>div {
        color: var(--color-secondary);
    }

    opacity: 0.2;
}