label {
    &>div {
        color: var(--color-secondary);
        transition: color 0.4s;

        font-size: 0.9rem;
        margin-bottom: 1px;

    }

    &:hover,
    &:focus {
        &>div {
            color: white;

        }
    }
}