nav {
    grid-area: header;
    width: 100vw;
    user-select: none;
    background: linear-gradient(var(--color-base, 3%) 0%, var(--color-base) 15%, var(--color-base) 75%, var(--color-base, 3%) 100%);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    top: 0;
    border-bottom: 2px solid white;

    #logo {
        margin-left: 1rem;
    }

    @media screen and (min-width: 1150px) {
        #logo {
            background: url(../assets/logo.svg) no-repeat left bottom;
            background-size: contain;
            width: 182px;
            height: 2.5rem;
            flex-shrink: 0;
        }
    }

    input[type="range"] {
        outline: 0;
        color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
        accent-color: #bfa98e;

        margin: 0;

        &:disabled {
            opacity: 0.3;
        }
    }

    &>div {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 1.5rem;

    }

    &.loading,
    .fullscreen & {
        transform: rotate3d(1, 0, 0, 90deg);
    }

    @media screen and (max-width: 500px) {
        flex-flow: column;
    }

    @media print {
        display: none;
        visibility: hidden;
    }
}