#neck {
    rect {
        filter: url(#neckshadow);
    }

    .fingers {
        rect {
            fill: var(--color-base);


            @media print {
                fill: black;
                -webkit-filter: none;
                filter: none;
            }

            display: none;

            &.visible {
                display: block;
            }
        }

        circle {

            fill: white;


            @media (prefers-color-scheme: dark) {

                fill: black;
            }

            @media print {
                stroke: black;
            }


            display: none;

            &.visible {
                display: block;
            }


            &.highlighted {
                fill: green;
            }
        }

        rect,
        circle {

            @media screen {
                filter: url(#neckshadow);
            }
        }
    }

    #labels {
        #label {
            fill: rgba(0, 0, 0, 0.7);

            @media (prefers-color-scheme: dark) {
                fill: white
            }

            font-family: "Ubuntu",
            sans-serif;
            font-size: 7px;
            display: none;

            &.root {
                fill: white;
            }

            .index,
            .interval-sign {
                font-size: 4px;
                transform: translate(4px, -3px);
            }

            .hide {
                display: none;
            }

            @media print {
                fill: black;
            }


        }

        &.names {
            .interval {
                display: none;
            }

            .interval-sign {
                display: none;
            }
        }

        &.intervals {
            text {
                display: none;

                &.interval,
                &.interval-sign {
                    display: block;
                }

            }

        }

        &.off {
            display: none;

            .interval {
                display: none;
            }

            .interval-sign {
                display: none;
            }
        }


        tspan {
            font-size: 5px;
        }
    }

    .strings {
        line {
            stroke: url(#str2);

            @media screen {
                -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .5));
                filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .5));
            }
        }

        line:nth-child(n) {
            stroke-width: 0.8;
        }

        line:nth-child(2) {
            stroke-width: 0.8;
        }

        line:nth-child(3) {
            stroke-width: 1;
        }

        line:nth-child(4) {
            stroke-width: 1.5;
        }

        line:nth-child(5) {
            stroke-width: 1.8;
        }

        line:nth-child(6) {
            stroke-width: 2;
        }

        line:nth-child(7) {
            stroke-width: 2.4;
        }
    }

    .frets {
        line {
            stroke: rgba(255, 255, 204, 0.4);


            &.zero {
                stroke: #dddddd;
                stroke-width: 6;
                -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .3));
                filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .3));
            }
        }

        text {
            fill: gray;
            font-family: "Ubuntu", sans-serif;
            font-size: 6px;
        }
    }

    .shading {
        opacity: 0.5;

        rect {
            fill: url(#shading);
        }

    }

    .marks {
        @media screen {
            rect {
                fill: rgba(214, 215, 207, 0.4);
            }

            .border {
                fill: gray;
                stroke: none;
            }
        }

        @media print {
            fill: #bbbbbb;
        }

        stroke: transparent;
    }

    &.fender {
        .marks {
            fill: #474747;
            stroke: rgba(255, 255, 255, 0.3);
        }



        .frets {
            line {
                stroke: rgba(255, 255, 255, 0.5);

                &.zero {
                    @media screen {
                        stroke: white;
                    }

                    stroke-width: 6;
                }
            }
        }
    }

    @media print {
        rect.neck {
            fill: white;

            -webkit-filter: none;
            filter: none;
        }

        .frets {
            line {
                stroke: black !important;
                stroke-width: 1;

                text {
                    stroke: transparent;
                }

                &.zero {
                    stroke: black;
                    stroke-width: 6;
                    -webkit-filter: none;
                    filter: none;
                }
            }
        }

        .strings {
            line {
                stroke: black;
            }
        }

        .shading {
            display: none;
        }
    }
}