@import "variables";

nav {
	width: 99vw;
	user-select: none;
	background: linear-gradient(darken($colorBase, 3%) 0%, $colorBase 15% ,$colorBase 75% ,  darken($colorBase, 3%) 100%) ;
	color: white;
	padding: 1rem;
	padding-bottom: 1rem;
	padding-right: 4rem;
	align-items: center;
	position: absolute;
	box-shadow: 0 0 3px rgba(black, 0.5) , 0 0 20px rgba(black, 0.2);
	transition: transform 2s;
	transition-delay: 0.5s;
	transition-timing-function: ease-out;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: flex-start;
	transform: translate3d(0, 0, 0);
	bottom: 0;
	border-top: 2px solid white;
	position: fixed;
	#logo {
		background: url(logo.svg)  no-repeat left bottom;
		width: 182px;
		height: 63px;
		flex-shrink: 0;
		flex-grow: 1;
	}
	input[type="range"] {
		outline: 0;
		color: darken($colorBase, 10%);
	}
	&>div {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		&:last-child {
			padding-top: 7px;
		}
	}
	&.loading,
	.fullscreen & {
		transform: translate3d(0, 150px, 0);
	}
	@media screen and (max-width: 500px) {
		flex-flow: column;
	}
	@media print {
		display: none;
		visibility: hidden;
	}
}
