@import "variables";

@import "variables";

#neck {
	.fingers {
		circle {
			fill: white;
			stroke: rgba(black, 0.7);
			@media print {
				stroke: black;
			}
			display: none;
			&.root {
				fill: $colorBase
			}
		}
	}
	.labels {
		text {
			fill: rgba(black, 0.7);
			font-family: "Ubuntu", sans-serif;
			font-size: 7px;
			display: none;
			&.root {
				fill: white;
			}
		}
		opacity: 0;
		tspan {
			font-size: 5px;
		}
	}
	.strings {
		line {
			stroke: #aba3a1;
		}
		line:nth-child(n) {
			stroke-width: 0.8;
		}
		line:nth-child(2) {
			stroke-width: 0.8;
		}
		line:nth-child(3) {
			stroke-width: 1;
		}
		line:nth-child(4) {
			stroke-width: 1.5;
		}
		line:nth-child(5) {
			stroke-width: 1.8;
		}
		line:nth-child(6) {
			stroke-width: 2;
		}
		line:nth-child(7) {
			stroke-width: 2.4;
		}
	}
	.frets {
		line {
			stroke: #ffffcc;
			&.zero {
				stroke: #dddddd;
				stroke-width: 6;
			}
		}
		text {
			fill: gray;
			font-family: "Ubuntu", sans-serif;
			font-size: 6px;
		}
	}
	.marks {
		@media screen {
			fill: rgba(#d6d7cf, 0.5);
		}
		@media print {
			fill: #bbbbbb;
		}
		stroke: transparent;
	}
	&.fender {
		.marks {
			fill: #1d1912;
			stroke: transparent;
		}
		.shading {
			opacity: 0.5;
		}
		.frets {
			line {
				stroke: white;
				&.zero {
					@media screen {
						stroke: white;
					}
					stroke-width: 6;
				}
			}
		}
	}
	@media print {
		rect.neck {
			fill: white;
		}
		.frets {
			line {
				stroke: black !important;
				stroke-width: 1 ;
				text {
					stroke: transparent;
				}
				&.zero {
					stroke: black;
					stroke-width: 6;
				}
			}
		}
		.strings {
			line {
				stroke: black;
			}
		}
		.shading {
			display: none;
		}
	}
}
