@import "variables";

#scale-box {
    .interval {
        fill: gray;
        font-size: 8px;
    }
    .root {
        fill: $colorBase;
    }
    polyline, line {
        stroke: gray;
        fill: transparent;
    }
    text {
        tspan {
            font-size: 8px;
        }
        cursor: pointer;
        &.highlighted {
            fill: #84FFA4;
        }
    }
}
