@import url(./css/body.css);
@import url(./css/filter.css);
@import url(./css/nav.css);
@import url(./css/label.css);

@import url(./css/print-button.css);
@import url(./css/select.css);
@import url(./css/scale-box.css);
@import url(./css/state-toggle.css);
@import url(./css/toggle.css);
@import url(./css/two-values-switch.css);

@import url(./components/ToggleButton.css);
@import url(./components/RangeSeletor.css);
@import url(./components/NeckView.css);


:root {
    --color-base: #732c2c;
    --color-highlight: #ffb733;
    --color-dark: #454545;
    --color-secondary: #bfa98e;
}