svg {
    width: 100%;
}

h1 {
    margin-top: 1em;
    margin-left: 1em;
    color: #732C2C;
    text-shadow: 0 1px 0 black;
}
select,label {
    opacity: 0.5;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #BFA98E;
}

.ui {
    background-color: #732C2C;
    color: white;
    padding: 1em;
    @media print {
        display: none;
    }
    box-shadow: 0 2px 2px gray;
}

footer {
    background-color: #732C2C;
    color: white;
    padding: 1em;
    @media print {
        display: none;
    }
    box-shadow: 0 -2px 2px gray;
    position: fixed;
    bottom:0;
    width: 100%;
    text-transform: uppercase;
}

.fingers {
    circle {
        fill: white;
        @media screen {
            filter: url(#finger);
        }
        @media print {
            stroke: black;
        }
        display: none;
        &.root {
            fill: lighten(#732c2c, 10%);
        }
    }
}

.labels {
    text {
        fill: black;
        font-family: sans-serif;
        font-size: 8px;
    }
}

rect.neck {
    @media screen {
        fill: url(#gradient);
        filter: url(#f1);
    }
    @media print {
        fill: white;
    }
    stroke: white;
    stroke-width: 1;
}

.strings {
    line {
        @media screen {
            filter: url(#f1);
            stroke: #aba3a1;
        }
        @media print {
            stroke: black;
        }
    }
    line:nth-child(n) {
        stroke-width: 0.8;
    }
    line:nth-child(2) {
        stroke-width: 0.8;
    }
    line:nth-child(3) {
        stroke-width: 1;
    }
    line:nth-child(4) {
        stroke-width: 1.5;
    }
    line:nth-child(5) {
        stroke-width: 1.8;
    }
    line:nth-child(6) {
        stroke-width: 2;
    }
}

.frets {
    line {
        @media screen {
            stroke: #EEEEEE;
            filter: url(#fret);
        }
        @media print {
            stroke: black;
        }
        &.zero {
            @media screen {
                stroke: #DDDDDD;
            }
            stroke-width: 6;
        }
    }
    text {
        fill: #732C2C;
        font-family: sans-serif;
        font-size: 8px;
    }
}

.marks rect {
    @media screen {
        fill: rgba(#d6d7cf, 0.5);
    }
    @media print {
        fill: #EEEEEE;
    }
    stroke: transparent;
}